.modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    display: none;
    background: rgba(0, 0, 0, .2);
}

.popup-wrapper {
    width: 400px;
}

.popup-wrapper textarea {
    width: 400px;
    height: 200px;
    resize: none;
    margin: 0;
}

.modal-wrapper--showed {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-inner {
    width: 500px;
    height: auto;
    background: #fff;
    border-radius: 3px;
}

.modal-body {
    border-top: 1px solid #eee;
    padding: 10px 20px;
}

.modal-title {
   padding: 10px 15px;
   font-weight: bold;
   font-size: 17px;
}

.constant-value {
    font-size: 14px;
}

.modal-input {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    border: 1px solid #a9a9a9;
    border-radius: 2px;
    padding: 2px 5px;
}

.button-save {
    background: #ff9000;
    display: block;
    width: 100%;
    padding: 2px 8px;
    border: 1px solid transparent;
    color: #fff;
}